#LLENGUA=XXX_LANG
LEARNING_RATE=XXX_LR
DROPOUT=XXX_DR
#SPECAUG: 0, 1
#ON_SPECAUG="--augment frequency_mask[p=0.8,n=2:4,size=2:4]  --augment time_mask[p=0.8,n=2:4,size=10:50,domain=spectrogram]"
#OFF_SPECAUG=""
EPOCHS=XXX_EP
CORPORA=XXX_CRP
